*{margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-color:#2C3039;
}
.navbar {
    overflow: hidden;
    background-color: #24292D;
}
.reg 
{
    float:right;
    background: #24292D;
    color: 	#FCFFFF;
    text-align: center;
    text-decoration: none;
    font-size:17px;
    padding:15px;
    padding-right:3px;
    padding-left:3px;
    padding-bottom:10px;
    
}
.log{
    float:right;
    display:block;
    background:#24292D;
    color:	#FCFFFF;
    text-align: center;
    text-decoration: none;
    font-size:17px;
    padding:15px;
    padding-right:15px;
    padding-left:3px;
    padding-bottom:10px;
    
}
.search{
    float:right;
    padding:13px;
    padding-right:10px;
    padding-bottom:10x;
    background-color:#24292D;
    
}
.search input,button{
    width:75%;
    border:2px solid white;
    border-right:0px;
    font-size:17px;
    background:transparent;
    color: 	#FCFFFF;
}
.search button{
    width:25%;
    background: 	#FCFFFF;
    color:black;
    float:right;
    border-left:0px;
}
.search button:hover{
    opacity:0.8;
}
.search input:hover{
    opacity:0.8;
}
.logo{
    float:left;
    display:block;
    background-color: #24292D;
    color: 	#FCFFFF;
    text-decoration: none;
    font-size:35px;
    padding:5px;
    padding-bottom:0px;
    padding-left:10px;
    font-family:sans-serif;
    font-weight: 900;
    font-variant: small-caps
}